div.window[id*="ArcTerm"] {
    /*resize:none;*/
    width: fit-content;
    height: fit-content;
    min-width: unset;
    min-height: unset;
    min-width: 794px;
    min-height: 537px;
}

div.window[id*="ArcTerm"] div.ArcTermBodyOutline {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);
    position: absolute;
    top: 30px
}