.context-menu {
    position: absolute;
    background-color: var(--controlPanelMainBackgroundColor);
    backdrop-filter: blur(30px);
    border: none;
    border-radius: var(--contextMenuBorderRadius);
    transition: background 0.2s, opacity 0.2s;
    padding-bottom: 10px;
    box-shadow: var(--boxShadow);
    z-index: 1000000003;
    display: block;
    padding-right: 5px;
    min-width:200px;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
    transition: var(--globalTransitionTwo);
    padding-top: 10px;
    padding-left: 5px;
}

.context-menu ul li {
    padding-bottom: 3px;
    padding-top: 3px;
    border: none;
    border-radius: var(--buttonBorderRadius);
    background-color: transparent;
    transition: var(--buttonTransition);
    margin: 0px;
    padding-left: 10px;
    color: var(--windowColor)
}

.context-menu ul li a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--windowColor);
    transition: var(--globalTransitionTwo);
}

.context-menu ul li:hover {
    background: var(--controlPanelSecoBackgroundColor);
}

.context-menu ul li:active {
    background: var(--controlPanelThrdBackgroundColor);
}

.context-menu li.contextMenuSwitch {
    padding: 3px 6px 0 5px;
    padding-right: 5px
}

.context-menu li.contextMenuSwitch>label {
    margin-bottom: 2px;
}

.context-menu li.contextMenuSwitch * {
    font-size: 16px;
}

.context-menu hr {
    border: 2px transparent
}