div.desktopicons {
    left: 0px;
    top: 0px;
    position: relative;
    background-color: transparent;
    color: var(--windowColor);
    width: 100%;
    height: 100vh;
    text-align: left;
}

button.icon {
    background-color: var(--desktopButtonBackgroundColor);
    border: none;
    color: var(--windowColor);
    position: relative;
    padding: 5px;
    border: 2px solid var(--desktopButtonBorderColor);
    border-radius: var(--startMenuButtonBorderRadius);
    margin: 5px;
    min-width: 125px;
    min-height: 80px;
}

button.icon img {
    height: 45px
}

button.icon:hover {
    background-color: var(--folderButtonBackgroundHoverColor);
    padding: 5px;
}