:root {
    --windowTransition: unset;
    --taskbarTransition: unset;
    --globalTransition: unset;
    --globalTransitionTwo: unset;
    --globalTransitionThree: unset;
    --buttonTransition: unset;
    --wallpaperTransition: none;
}

* {
    transition: unset;
}

input[type=checkbox],
input[type=radio] {
    transition: none;
}

input[type=checkbox]:after,
input[type=radio]:after {
    transition: none;
}