div.window[id*="App Manager"] {
    min-width: 320px;
    min-height: 180px;
    resize: none;
}

td[id*="appManagerProcessNames"] {
    width: 400px;
}

div.window[id*="App Manager"] div.body {
    padding: 20px;
}