div.window[id*="Open With"] {
    min-height: 480px;
    max-height: 480px;
    min-width: 482px;
    max-width: 482px;
}

div.window[id*="Open With"] div.body {
    padding: 20px;
}

button.fullWidth.folder.big.openWith {
    max-width: unset;
    width: 100%;
    padding-left: 10px;
}

button.fullWidth.folder.big.openWith img {
    height: 20px;
}

button.fullWidth.folder.big.openWith * {
    vertical-align: middle;
}