div.window[id*="Execute Command"] {
    width: 610px;
    min-height: fit-content;
    resize: none;
}

input#runDialogInput {
    padding: 10px;
    width: 600px;
    margin-left: 20px;
    font-family: monospace;
    margin-bottom: 21px;
}

button.runDialogExecute {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px
}

p.runDialog {
    margin-left: 15px;
}